In [294]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

## Movie 2020

In [295]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [296]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [297]:
tables = soup.find_all('table',class_='wikitable sortable')

In [298]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0]

In [299]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
del df['.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.']

In [300]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,NaN
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",NaN
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",NaN
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,NaN
...,...,...,...,...,...,...
267,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios,Robert Rodriguez (director/screenplay); Priyan...,[240]
268,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,[241]
269,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,[242]
270,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,[243]
271,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,[244]

In [301]:
df_2020 = df[['Title','Cast and crew']]

In [302]:
#df_2020.to_csv('check1.csv',index=False)
df_2020=pd.read_csv('check1.csv')
df_2020

,Title,Cast and crew,genres
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,NaN
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",NaN
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",NaN
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,NaN
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,NaN
...,...,...,...
267,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,NaN
268,News of the World,Paul Greengrass (director/screenplay); Luke Da...,NaN
269,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,NaN
270,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,NaN
271,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,NaN

In [303]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\vohan\anaconda3\lib\site-packages (1.7.6)
Requirement already satisfied: requests in c:\users\vohan\anaconda3\lib\site-packages (from tmdbv3api) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\vohan\anaconda3\lib\site-packages (from requests->tmdbv3api) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vohan\anaconda3\lib\site-packages (from requests->tmdbv3api) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\vohan\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vohan\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.4)

In [401]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'b7e7aeea608257af93a032205bfada32'

In [404]:
from tmdbv3api import Movie
tmdb_movie = Movie()
result = tmdb_movie.search("shang chi")
result

[{'adult': False, 'backdrop_path': '/uizrxdqIl1a4c9UIhSdPM3o6u0f.jpg', 'genre_ids': [28, 12, 14], 'id': 566525, 'original_language': 'en', 'original_title': 'Shang-Chi and the Legend of the Ten Rings', 'overview': 'Shang-Chi must confront the past he thought he left behind when he is drawn into the web of the mysterious Ten Rings organization.', 'popularity': 2218.744, 'poster_path': '/xeItgLK9qcafxbd8kYgv7XnMEog.jpg', 'release_date': '2021-09-01', 'title': 'Shang-Chi and the Legend of the Ten Rings', 'video': False, 'vote_average': 7.9, 'vote_count': 946}]

In [305]:
i=0
result=[]
from tmdbv3api import Movie
tmdb_movie = Movie()
for x in df_2020['Title']:
    result.append(tmdb_movie.search(x))
    #print(result[i])
for i in range(0,272):
    print(result[i][0].id)
    i=i+1
    print(i)

1970
1
443791
2
526019
3
418533
4
634904
5
477036
6
527534
7
38700
8
448119
9
651070
10
522627
11
492611
12
442065
13
547565
14
658199
15
466622
16
542224
17
627463
18
495764
19
474764
20
550440
21
653601
22
565426
23
454626
24
539537
25
589049
26
560391
27
663255
28
520390
29
481848
30
505225
31
555974
32
526007
33
566927
34
570670
35
342470
36
399363
37
457335
38
508439
39
529485
40
581600
41
627725
42
566872
43
586461
44
558582
45
338762
46
514847
47
585244
48
567970
49
382748
50
567714
51
595671
52
539617
53
535987
54
491926
55
660609
56
458305
57
615177
58
446893
59
624808
60
637157
61
546724
62
686142
63
684420
64
653744
65
560044
66
545609
67
693594
68
530723
69
689723
70
530956
71
605804
72
597219
73
560204
74
482273
75
429422
76
582596
77
385103
78
691812
79
513268
80
576156
81
602147
82
686245
83
665824
84
606679
85
547017
86
339095
87
601844
88
513584
89
581859
90
475430
91
579583
92
702936
93
514593
94
451184
95
707886
96
509585
97
684700
98
531454
99
595148
100
592834
101
556574
102
539181
103
706510
104
547016
105
516486
106
587792
107
714375
108
603119
109
718840
110
608195
111
315064
112
583083
113
587496
114
703745
115
719643
116
550231
117
523977
118
664297
119
628917
120
531499
121
505707
122
605116
123
454433
124
653723
125
653598
126
400160
127
508570
128
625568
129
517412
130
493065
131
523781
132
724989
133
621013
134
577922
135
501979
136
340102
137
520900
138
500840
139
594328
140
615466
141
825997
142
680028
143
647265
144
644090
145
337401
146
665877
147
659986
148
594084
149
623491
150
632666
151
499932
152
616251
153
611114
154
707408
155
726739
156
615115
157
627290
158
545237
159
536396
160
479259
161
803708
162
497582
163
556984
164
539885
165
541305
166
653606
167
621870
168
664498
169
733156
170
597156
171
519056
172
575417
173
604578
174
567971
175
435615
176
595149
177
481848
178
660982
179
539649
180
716258
181
617505
182
715123
183
552532
184
425001
185
475303
186
593427
187
620897
188
643550
189
732713
190
624963
191
590223
192
553604
193
630566
194
507712
195
720755
196
509635
197
710356
198
664184
199
670266
200
531219
201
560050
202
740985
203
613504
204
516632
205
549294
206
10823
207
317198
208
524840
209
590995
210
615665
211
571384
212
575774
213
621151
214
556501
215
596161
216
466081
217
680593
218
592984
219
614560
220
551804
221
622855
222
480434
223
602211
224
667869
225
595931
226
682377
227
643882
228
546121
229
502033
230
622977
231
590706
232
472815
233
529203
234
520172
235
615667
236
654028
237
634544
238
768141
239
521007
240
447362
241
526702
242
611213
243
632322
244
662546
245
652962
246
646593
247
624788
248
623856
249
614911
250
721625
251
628333
252
727306
253
540023
254
643612
255
633908
256
727097
257
653665
258
458576
259
524047
260
549514
261
560144
262
759902
263
774372
264
584288
265
464052
266
508442
267
615677
268
581032
269
661914
270
582014
271
641662
272

In [306]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [307]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

In [308]:
df_2020

,Title,Cast and crew,genres
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Crime Thriller Drama
...,...,...,...
267,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,Action Fantasy Family Comedy
268,News of the World,Paul Greengrass (director/screenplay); Luke Da...,Adventure Western
269,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,Drama
270,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,Thriller Crime Drama
271,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,Drama

In [309]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [310]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

In [311]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [312]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [313]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [314]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [315]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [316]:

df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [317]:
df_2020

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Crime Thriller Drama,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs
...,...,...,...,...,...,...,...
267,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,Action Fantasy Family Comedy,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin
268,News of the World,Paul Greengrass (director/screenplay); Luke Da...,Adventure Western,Paul Greengrass,Tom Hanks,Helena Zengel,NaN
269,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,Drama,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge
270,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,Thriller Crime Drama,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie
271,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,Drama,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker

In [318]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [319]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [320]:
new_df20

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,The Grudge
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,Underwater
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,Like a Boss
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,Three Christs
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,Inherit the Viper
...,...,...,...,...,...,...
267,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,We Can Be Heroes
268,Paul Greengrass,Tom Hanks,Helena Zengel,NaN,Adventure Western,News of the World
269,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,One Night in Miami...
270,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,Promising Young Woman
271,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,Pieces of a Woman

In [321]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [322]:
new_df20 = new_df20.dropna(how='any')

In [323]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

<ipython-input-323-83e83e91073b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df20['movie_title'] = new_df20['movie_title'].str.lower()

In [324]:
new_df20

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,the grudge,Andrea Riseborough Demián Bichir John Cho Nico...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,underwater,Kristen Stewart Vincent Cassel Jessica Henwick...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,three christs,Richard Gere Peter Dinklage Walton Goggins Jon...
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,inherit the viper,Josh Hartnett Margarita Levieva Chandler Riggs...
...,...,...,...,...,...,...,...
266,Pete Docter,Jamie Foxx,Tina Fey,Graham Norton,Family Animation Music Comedy Fantasy,soul,Jamie Foxx Tina Fey Graham Norton Pete Docter ...
267,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
269,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
270,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...
271,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

## Movie 2021

In [362]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [363]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [364]:
tables = soup.find_all('table',class_='wikitable sortable')

In [365]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0]

In [366]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
del df['.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.']

In [367]:
df2

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,APRIL,2,Concrete Cowboy,Netflix,Ricky Staub (director/screenplay); Dan Walser ...,[53]
1,APRIL,2,The Unholy,Screen Gems / Ghost House Pictures,Evan Spiliotopoulos (director/screenplay); Jef...,[54]
2,APRIL,2,Every Breath You Take,Vertical Entertainment,Vaughn Stein (director); David Murray (screenp...,[55]
3,APRIL,2,Shiva Baby,Utopia,Emma Seligman (director/screenplay); Rachel Se...,NaN
4,APRIL,2,The Girl Who Believes in Miracles,Atlas Distribution Company,Richard Correll (director/screenplay); G.M. Me...,NaN
...,...,...,...,...,...,...
81,JUNE,25,Mary J. Blige's My Life,Amazon Studios,Vanessa Roth (director/screenplay); Mary J. Bl...,NaN
82,JUNE,25,Fathom,Apple TV+,Drew Xanthopoulos (director/screenplay); Miche...,NaN
83,JUNE,25,Rollers,Level 33 Entertainment,"Isaiah Smallman (director); Johnny Ray Gill, K...",NaN
84,JUNE,30,America: The Motion Picture,Netflix / Floyd County Productions,Matt Thompson (director); Dave Callaham (scree...,NaN
85,JUNE,30,Zola,A24,Janicza Bravo (director/screenplay); Jeremy O....,[104]

In [368]:
df_2021 = df[['Title','Cast and crew']]

In [369]:
df_2021

,Title,Cast and crew
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...
3,The Dig,Simon Stone (director); Moira Buffini (screenp...
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa..."
...,...,...
319,The Matrix Resurrections,Lana Wachowski (director/screenplay); David Mi...
320,Sing 2,Garth Jennings (director/screenplay); Matthew ...
321,The King's Man,Matthew Vaughn (director/screenplay); Karl Gaj...
322,American Underdog: The Kurt Warner Story,"Erwin brothers (directors); David Aaron, Jon E..."
323,Cyrano,Joe Wright (director); Erica Schmidt (screenpl...

In [374]:
df_2021['genres'] = df_2021['Title'].map(lambda x: get_genre(str(x)))

<ipython-input-374-252c1cda1e49>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['genres'] = df_2021['Title'].map(lambda x: get_genre(str(x)))

In [375]:
df_2021

,Title,Cast and crew,genres
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Crime Drama
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",Thriller Action Science Fiction
...,...,...,...
319,The Matrix Resurrections,Lana Wachowski (director/screenplay); David Mi...,Action Adventure Thriller Science Fiction
320,Sing 2,Garth Jennings (director/screenplay); Matthew ...,Family Comedy Animation Drama Music
321,The King's Man,Matthew Vaughn (director/screenplay); Karl Gaj...,War Action Thriller Adventure
322,American Underdog: The Kurt Warner Story,"Erwin brothers (directors); David Aaron, Jon E...",Drama
323,Cyrano,Joe Wright (director); Erica Schmidt (screenpl...,Drama Comedy History Romance

In [383]:
df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

In [384]:
df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [385]:
df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [381]:
df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [386]:
df_2021

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Crime Drama,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",Thriller Action Science Fiction,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham
...,...,...,...,...,...,...,...
319,The Matrix Resurrections,Lana Wachowski (director/screenplay); David Mi...,Action Adventure Thriller Science Fiction,Lana Wachowski,Keanu Reeves,Carrie-Anne Moss,Yahya Abdul-Mateen II
320,Sing 2,Garth Jennings (director/screenplay); Matthew ...,Family Comedy Animation Drama Music,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson
321,The King's Man,Matthew Vaughn (director/screenplay); Karl Gaj...,War Action Thriller Adventure,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans
322,American Underdog: The Kurt Warner Story,"Erwin brothers (directors); David Aaron, Jon E...",Drama,Erwin brothers,Zachary Levi,Anna Paquin,Ser'Darius Blain
323,Cyrano,Joe Wright (director); Erica Schmidt (screenpl...,Drama Comedy History Romance,Joe Wright,Peter Dinklage,Haley Bennett,Kelvin Harrison Jr.

In [387]:
df_2021 = df_2021.rename(columns={'Title':'movie_title'})

In [389]:
new_df21 = df_2021.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [390]:
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,Shadow in the Cloud
1,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Crime Drama,The White Tiger
2,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,Locked Down
3,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,The Dig
4,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,Outside the Wire
...,...,...,...,...,...,...
319,Lana Wachowski,Keanu Reeves,Carrie-Anne Moss,Yahya Abdul-Mateen II,Action Adventure Thriller Science Fiction,The Matrix Resurrections
320,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson,Family Comedy Animation Drama Music,Sing 2
321,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,War Action Thriller Adventure,The King's Man
322,Erwin brothers,Zachary Levi,Anna Paquin,Ser'Darius Blain,Drama,American Underdog: The Kurt Warner Story
323,Joe Wright,Peter Dinklage,Haley Bennett,Kelvin Harrison Jr.,Drama Comedy History Romance,Cyrano

In [391]:
new_df21['comb'] = new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name'] + ' '+ new_df21['director_name'] +' ' + new_df21['genres']

In [392]:
new_df21 = new_df21.dropna(how='any')

In [393]:
new_df21['movie_title'] = new_df21['movie_title'].str.lower()

<ipython-input-393-6e765124d575>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df21['movie_title'] = new_df21['movie_title'].str.lower()

In [395]:
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,shadow in the cloud,Chloë Grace Moretz Taylor John Smith Beulah Ko...
1,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Crime Drama,the white tiger,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
2,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,locked down,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
3,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,the dig,Carey Mulligan Ralph Fiennes Lily James Simon ...
4,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,outside the wire,Anthony Mackie Damson Idris Emily Beecham Mika...
...,...,...,...,...,...,...,...
319,Lana Wachowski,Keanu Reeves,Carrie-Anne Moss,Yahya Abdul-Mateen II,Action Adventure Thriller Science Fiction,the matrix resurrections,Keanu Reeves Carrie-Anne Moss Yahya Abdul-Mate...
320,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson,Family Comedy Animation Drama Music,sing 2,Matthew McConaughey Reese Witherspoon Scarlett...
321,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,War Action Thriller Adventure,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
322,Erwin brothers,Zachary Levi,Anna Paquin,Ser'Darius Blain,Drama,american underdog: the kurt warner story,Zachary Levi Anna Paquin Ser'Darius Blain Erwi...
323,Joe Wright,Peter Dinklage,Haley Bennett,Kelvin Harrison Jr.,Drama Comedy History Romance,cyrano,Peter Dinklage Haley Bennett Kelvin Harrison J...

In [396]:
old_df = pd.read_csv('final_data.csv')

In [397]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
39656,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
39657,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
39658,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action Thriller,1917,George MacKay Dean-Charles Chapman Mark Strong...
39659,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
39660,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [398]:
final_df = old_df.append(new_df20.append(new_df21,ignore_index=True),ignore_index=True)

In [399]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
40203,Lana Wachowski,Keanu Reeves,Carrie-Anne Moss,Yahya Abdul-Mateen II,Action Adventure Thriller Science Fiction,the matrix resurrections,Keanu Reeves Carrie-Anne Moss Yahya Abdul-Mate...
40204,Garth Jennings,Matthew McConaughey,Reese Witherspoon,Scarlett Johansson,Family Comedy Animation Drama Music,sing 2,Matthew McConaughey Reese Witherspoon Scarlett...
40205,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,War Action Thriller Adventure,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
40206,Erwin brothers,Zachary Levi,Anna Paquin,Ser'Darius Blain,Drama,american underdog: the kurt warner story,Zachary Levi Anna Paquin Ser'Darius Blain Erwi...
40207,Joe Wright,Peter Dinklage,Haley Bennett,Kelvin Harrison Jr.,Drama Comedy History Romance,cyrano,Peter Dinklage Haley Bennett Kelvin Harrison J...

In [400]:
final_df.to_csv('main_data.csv',index=False)